.aboutus{
    height: auto;
    /* width: 80%; */
}
.aboutus h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}
.aboutus p{
    padding: 40px 300px 100px 300px;
    font-size: 1.3rem;
    font-weight: 300;
    opacity: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}