


.trip{
   margin: 4rem 6 rem; 
   cursor: pointer;
}
.trip h1{
    font-size: 4rem;
}

.tripcard{
    margin: 100px;
        display: flex;
    justify-content: space-between;
    
}
img{
    height:200px;
    overflow: hidden;
    width: 400px;
    border: 7px;
    transition: 0.3s ease-in-out;

}
img:hover{
    transform: scale(1.3);

}
.t-card{
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    padding: 20px 20px;
    border-radius: 7px;

}
.t-card h4{
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0 ;
}
@media screen and (max-width:850px) {
    .trip{
        margin: 6rem 2rem;
        
    }
    .tripcard{
        
            display: flex;
            flex-direction: column;
        
        
    }
    .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }


}