
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.App{
text-align: center;
}
button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    
}